# URL do projeto Supabase (Project URL)
VITE_SUPABASE_URL=https://hrpzzytenvutyiajnfqj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhycHp6eXRlbnZ1dHlpYWpuZnFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5OTgzODQsImV4cCI6MjA4NjU3NDM4NH0.2h_hTspkgvlFZTy_YtN6J60du8h8sRZCysaGhR_dw_8

# CHAVE SENSÍVEL, NÃO PODE TER VITE_ PARA NÃO SER EXPOSTA NO FRONTEND
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhycHp6eXRlbnZ1dHlpYWpuZnFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk5ODM4NCwiZXhwIjoyMDg2NTc0Mzg0fQ.DNLsL1KHP-V4nxy0khsIPwA_t5PknNCZ9vJdwmROyog

# CHAVE COM VITE FICA EXPOSTA TEM QUE RESTRINGIR NO GOOGLE CONSOLE
VITE_GOOGLE_MAPS_API_KEY=AIzaSyA660f1uMoajk-yIHRcZEXLlGOyy0JiZiw

# Variável para definir o ambiente de desenvolvimento (dev, staging, prod)
APP_ENV=dev

# token da conta dev.supabase@synia.com.br para poder fazer deploy de edge function
SUPABASE_ACCESS_TOKEN=sbp_9abb267edd0f9d6383d379d190ac5893b2519c10

# para resetar o banco
DB_URL=postgresql://postgres.hrpzzytenvutyiajnfqj:DqLGqHppV123@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

# System Admin
E2E_SYSTEM_ADMIN_EMAIL=superadmin@synia.com.br
E2E_SYSTEM_ADMIN_PASSWORD=Synia123
# Admin
E2E_ADMIN_EMAIL=admin@synia.com.br
E2E_ADMIN_PASSWORD=Synia123
# Manager
E2E_MANAGER_EMAIL=manager@synia.com.br
E2E_MANAGER_PASSWORD=Synia123
# User/Viewer
E2E_USER_EMAIL=user@synia.com.br
E2E_USER_PASSWORD=Synia123
