.git
.github
.vscode
.cursor

node_modules
**/node_modules

dist
**/dist
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results

.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*